<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand d-flex align-items-center" href="">
			<img src="images/SchemaMagic Logo.svg" alt="SchemaMagic Logo" class="me-2" style="height: 32px; width: auto;" />
			<span class="fw-bold">SchemaMagic</span>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
						<i class="bi bi-house me-1"></i>Home
					</NavLink>
				</li>
				<li class="nav-item">
					<NavLink class="nav-link" href="about">
						<i class="bi bi-info-circle me-1"></i>About
					</NavLink>
				</li>
			</ul>
		</div>
	</div>
</nav>
